.realtors{
    background-color: $color-secondary;
    grid-column: col-start 7/ full-end;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    @media only screen and (max-width:$bp-mid) {
        grid-column: 1/-1;
        padding: 3rem;
    }
    &__list{
        display: grid;
        grid-template-columns: min-content max-content;
        @media only screen and (max-width:$bp-mid) {
            grid-template-columns: repeat(3,min-content max-content);
        grid-column-gap: 2rem;   
        }
        @media only screen and (max-width:$bp-sm) {
            grid-template-columns: min-content max-content;
        grid-column-gap: 3rem;   
        }
        grid-column-gap: 3rem;
        grid-row-gap: 3vh;
        align-items: center;
        margin-top: 2rem;
        // padding: 3rem;
    }
    &__img{
        width: 7rem;
        display: block;
        border-radius: 50%;
    }
    &__sold{
        text-transform: uppercase;
        color: $color-grey-light-2;
        display: block;
        transform: translateY(-3px);
        
    }
  
}